@import url(AnothersStyles/_mixing.scss);
@import url(AnothersStyles/_mobile.scss);

body {
    background-image: url(../img/fond.webp);
    height: 100vh;
    width: 99vw;
    margin: 0 auto;
}

// HEADER

header {
    span {
        display: flex;
        justify-content: end;
        @include blackNwhite();
        width: 15%;
        margin-left: 85%;
        font-family: "AlfaSlabOne";
    }
}

nav {
    height: 30%;
    width: 100%;
    display: flex;
    margin: 0;
    font-family: "AlfaSlabOne";

    h1 {
        display: inline;
        padding-left: 1%;
        color: gray;
        font-size: 2rem;

        #web {
            display: inline-block;
            width: 5%;
            margin-left: 0;
        }
    }

    h2 {
        @include blackNwhite();
        font-size: 3rem;
        border-radius: 1rem;
        word-wrap: break-word;
        margin-left: 1%;
        padding: 1%;
    }

    h3 {
        padding-left: 1%;
        font-size: 2rem;
    }


}

.logo {
    display: flex;
    justify-content: start;
    height: 15rem;
    padding-top: 2%;
}

// MAIN

section {
    display: flex;
}

.container {
    justify-content: center;
    height: 60%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    gap: 5%;
    margin-bottom: -10rem;
}

.container__card {
    background-color: $article-color;
    height: 65%;

    h3 {
        @include blackNwhite();
        margin: 1%;
        padding: 2%;
        font-family: "AlfaSlabOne";
        font-weight: lighter;
        font-size: 2.5rem;
    }
}

.container__card:nth-child(3) {
    height: 74%;
}

.container__card--cadre {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;

    .text-cadre {
        @include freepng();
    }

    img {
        height: 10rem;
    }
}

.corp {
    text-align: justify;
    margin: 5%;
    font-family: "AlfaSlabOne";
    font-weight: lighter;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 30%;
}


button {
    margin-left: 60%;
    background-color: $color-button;
    color: white;
    display: flex;
    align-items: center;
    height: 5%;
    width: 40%;
    border-radius: 0.2rem;

    .triangle {
        scale: 0.5;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 50px solid white;
    }
}

// FOOTER

footer {
    height: 20%;
    width: 100%;
    @include blackNwhite();
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "AlfaSlabOne";
}