// Je définie ce qui va être réutiliser plus tard. Les noms sont personnalisable


$border: 1px solid red;
$article-color: rgb(190, 190, 190);
$titre-color: black;
$color-button: brown;


@mixin blackNwhite {
    background-color: black;
    color: white;
}

@mixin freepng {
    background-color: rgb(255, 69, 69);
    color: white;
    position: relative;
    top: -1rem;
}

@font-face {
    font-family: "AlfaSlabOne";
    src: url(../font/AlfaSlabOne-Regular.ttf)
}

@mixin Triangle($direction, $color) {
    @if ($direction =="down") {
        border-top: 25px solid $color;
        border-right: 12px solid transparent;
        border-left: 13px solid transparent;
        border-bottom: 0px solid transparent;
    }

    @if ($direction =="up") {
        border-right: 13px solid transparent;
        border-bottom: 25px solid $color;
        border-left: 12px solid transparent;
        border-top: 0px solid transparent;
    }

    @if ($direction =="left") {
        border-top: 12px solid transparent;
        border-right: 25px solid $color;
        border-bottom: 13px solid transparent;
        border-left: 0px solid transparent;
    }

    @if ($direction =="right") {
        border-top: 13px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 25px solid $color;
        border-right: 0px solid transparent;
    }
}