@use '_mixing.scss';

@mixin MobileVersion {
    body {
        background-image: url(../img/fond.webp);
        height: 100vh;
        max-width: 100%;
        margin: 0 auto;
    }

    // HEADER

    header {
        span {
            position: absolute;
            @include mixing.blackNwhite();
            width: 30%;
            font-family: "AlfaSlabOne";
            font-size: 0.8rem;
            text-align: start;
            right: 0;
        }
    }

    nav {
        height: 30%;
        max-width: 100%;
        display: flex;
        margin-top: 10%;
        font-family: "AlfaSlabOne";

        h1 {
            display: inline;
            padding-left: 1%;
            font-size: clamp(1rem, 2vw, 2rem);
            color: gray;

            #web {
                display: inline-block;
                width: 10%;
            }
        }

        h2 {
            @include mixing.blackNwhite();
            font-size: clamp(1rem, 3vw, 3rem);
            border-radius: 0.5rem;
            word-wrap: break-word;
            margin-left: 1%;
            padding: 1%;
        }

        h3 {
            padding-left: 1%;
            font-size: clamp(0.8rem, 2vw, 2rem);
        }


    }

    .logo {
        display: flex;
        justify-content: start;
        height: 3rem;
    }

    // MAIN

    section {
        display: flex;
    }

    .container {
        justify-content: center;
        width: 80%;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 19% 19% 19%;
        gap: 15%;
        margin-bottom: 30%;
    }

    .container__card {
        background-color: mixing.$article-color;

        h3 {
            @include mixing.blackNwhite();
            margin: 1%;
            padding: 2%;
            font-family: "AlfaSlabOne";
            font-weight: lighter;
        }
    }

    .container__card:nth-child(1) {
        background-color: mixing.$article-color;
        height: 150%;
        grid-column: 1;
        grid-row: 1/2;
    }

    .container__card:nth-child(2) {
        background-color: mixing.$article-color;
        height: 150%;
        grid-column: 1;
        grid-row: 2/3;
    }

    .container__card:nth-child(3) {
        background-color: mixing.$article-color;
        height: 170%;
        grid-column: 1;
        grid-row: 3/4;
    }

    .container__card--cadre {
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;

        .text-cadre {
            @include mixing.freepng();
        }

        img {
            height: 10rem;
        }
    }

    .corp {
        text-align: justify;
        margin: 5%;
        font-family: "AlfaSlabOne";
        font-weight: lighter;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 40%;
    }


    button {
        margin-left: 60%;
        background-color: mixing.$color-button;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5%;
        width: 40%;
        border-color: black;
        border-radius: 0.2rem;

        .triangle {
            scale: 0.5;
            @include mixing.Triangle(down, white);
        }
    }

    button:active {
        background-color: red;
    }

    // FOOTER

    footer {
        height: 10%;
        width: 100%;
        @include mixing.blackNwhite();
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "AlfaSlabOne";
    }
}